
body {
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.25)
  ),
  /* bottom, image */
  url(./bg1.jpg);

  background-size: cover;
  background-position: center;

}
.main {
  margin: 2%;
}

.card {
  width: 18%;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 3%;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  overflow: -moz-hidden-unscrollable;
  box-sizing: border-box;
  height: 800px;
  float: left;
  min-width: 300px;
  background-color: rgb(78, 156, 175 ) ;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  color: aliceblue;
  overflow-x: hidden;
}

.card::-webkit-scrollbar {
  display: none;
}

.card h1 {
  font-family: 'Caveat', cursive;
}

.image img {
  width: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 540px;
  display: block;
  margin: auto;
}

.title {
  text-align: center;
  padding: 10px;
}


.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
}
#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8 {
  margin-top: auto;
  margin-bottom: 10px;
  border: 2px solid aliceblue;
  padding: 10px;
  position: relative
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8{
  border: 2px solid aliceblue;
}

#more, #more2, #more3, #more4, #more5, #more6, #more7, #more8 {display: none;}

html {
  scroll-behavior: smooth;
}

.toppest {
  font-family: 'Caveat', cursive; 
  color: aliceblue;
  text-align: center;
  padding: 20%;
  padding-top: 10%;
}

.toppest p:first-of-type{
  font-size: 15em;
  font-weight: 500;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  margin-top: 0px;
}

.toppest p:last-of-type{
  font-size: 3em;
  font-weight: lighter;
  opacity: 0.5;
}

#discbtn a {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

#discbtn a:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
  background-color: aliceblue;
}